#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Accept Eula
eula --agreed
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --plaintext changeme
# create user
user --groups=wheel --homedir=/home/ansible --name=ansible
# System timezone
timezone Europe/Bucharest
# System language
lang en_US
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Network information
network  --bootproto=dhcp --device=eno16777728

# System bootloader configuration
#bootloader --location=mbr --password=changeme
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --size=512
part swap --fstype="swap" --size=2048
# lvm
part pv.01 --size=1 --grow
volgroup centos pv.01
logvol  /  --vgname=centos  --fstype=ext4 --size=1 --grow  --name=lvm
#non lvm
#part / --fstype="ext4" --grow --size=1

# Reboot after install
reboot

%packages
@^minimal
@core
# install programs
wget
vim
mc
%end

%post
# automate with ansible
mkdir -m 0700 /home/ansible/.ssh/
cat <<EOF >/home/ansible/.ssh/authorized_keys
ssh-rsa AAAA01010101010101010101010101010100101010101010101010101010101001
EOF
chmod 0600 /home/ansible/.ssh/authorized_keys
chown ansible:ansible -R /home/ansible/.ssh/
echo ' ansible ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers

# secure ssh
sed -i 's/#PermitRootLogin yes/PermitRootLogin no/g' /etc/ssh/sshd_config
sed -i 's/PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config
sed -i 's/#Port 22/Port 22/g' /etc/ssh/sshd_config
reboot --eject
%end
